<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preços Criptomoedas</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>

        var socket = io();
        // Mostrar preços das criptomoedas usadas no aplicativo
        socket.on('update_prices', function(data) {
            let list = document.getElementById('prices');
            list.innerHTML = '';
            for (const [symbol, price] of Object.entries(data)) {
                let li = document.createElement('li');
                li.innerHTML = `<strong>${symbol}:</strong> ${price}`;
                list.appendChild(li);
            }
        });
    </script>
</head>
<body>
    <h1>Preco atual das principais criptomoedas</h1>
    <ul id="prices"></ul>

    <h1>Compra / Venda de Criptomoedas</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
  {% endwith %}

  <form method="post">
    <label>Moeda:</label><br>
    <select name="moeda" required>
      {% for nome in moedas %}
        <option value="{{ nome }}">{{ nome }}</option>
      {% endfor %}
    </select><br>

    <label>Valor em USDT:</label><br>
    <input type="number" name="valor" step="0.01" required><br>

    <label>Ação:</label><br>
    <select name="acao" required>
      <option value="buy">🟢 Comprar</option>
      <option value="sell">🔴 Vender</option>
    </select><br>

    <button type="submit">Executar Ordem</button>
  </form>

</body>
</html>